
html, body {
}

* {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
      font-family: "Candara" !important;
}

.header {
      position: fixed;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
}

.header h1 {
      color: #d3ae87;
      font-size: 80px !important;
}

.nav {
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 2;
      background-image: linear-gradient(rgba(194,238,194,255), rgba(144,238,144,0))
}

.nav:hover {
      background-image: linear-gradient(rgba(194,238,194,255), rgba(144,238,144,255)) !important;
}

.nav #menu {
      float: left;
      right: 40px;
      position: fixed;
}

.nav #menu li {
      padding-left: 40px;
      display: inline-block;
      font-weight: lighter !important;
      font-size: 20px;
      line-height: 80px;
      position: relative;
      transition: all 500ms ease-out;
}

.nav #menu li a {
      font-family: Calibri !important;
      color: rgb(6, 56, 6);
      transition: all 500ms ease-out;
}

.nav #menu li a:hover {
      text-decoration: none;
      color: rgb(56, 156, 56);
      transition: all 500ms ease-out;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(194,238,194);
  color: rgb(16,0,16);
  text-align: left;
}