<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Dr. Lam, Yun Fat's Research Group</title>

      <!-- stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

      <!-- google fonts -->         
      <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

      <!-- jquery -->
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script src="{{ url_for('static', filename='main.js') }}"></script>
 
      <!-- bootstrap --> 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
      <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>
      <main>
            <!--
            <div id="wname">
                  <div class="span">
                        <p>Dr. Lam's Research Group Webpage</p>
                  </div>
            </div>
            -->

            <!-- NAVIGATION BAR SECTION (STARTS) -->
            <div class="nav" id="nav">
                  {% macro menuitem(name, url) %}
                  {% if page == name %}
                        <a class='active' href="{{url|safe}}">
                  {% else %}
                        <a href="{{url|safe}}">
                  {% endif %}

                  <i class="fa fa-caret-down"></i>
                  {{ caller() }}

                  {% if page == name %}
                        </a>
                  {% else %} 
                        </a>
                  {% endif %}
                  {% endmacro %}

                  <ul id="menu">
                        <li>{% call menuitem('index', 'index') %}Home{% endcall %}</li>
                        <li class="dropdown">
                              {% call menuitem('about', 'about') %}About{% endcall %}
                              <div class="dropdown-content">
                                    <ul>
                                          <li><a href="vision">Vision and Mission</a></li>
                                          <li><a href="contact">Contact</a></li>
                                          <li><a href="team">Team</a></li>
                                    </ul>
                              </div>
                        </li>
                        <li class="dropdown">
                              {% call menuitem('research', 'research') %}Research{% endcall %}
                              <div class="dropdown-content">
                                    <ul>
                                          <li><a href="research">Research Themes</a></li>
                                          <li><a href="pub">Publications</a></li>
                                    </ul>
                              </div>
                        </li>
                        <li>{% call menuitem('education', 'education') %}Education{% endcall %}</li>
                        <li>{% call menuitem('join', 'join') %}Join Us{% endcall %}</li>
                  </ul>

            </div>
            <!-- NAVIGATION BAR SECTION (ENDS) -->

           {% block content %}{% endblock content %}

            <!-- FOOTER SECTION (STARTS) -->
            <div class="footer">
                  <span>© 2021 Department of Geography, University of Hong Kong. All Rights Reserved.</span>
                  <span><a href="admin" style="float:right;">Admin Control Panel</a></span>
            </div> 
            <!-- FOOTER SECTION (ENDS) -->

      </main>
</html>
