{% extends "_main.html" %}
{% set page = "index" %}
{% block content %}
<body>
      <style>
      #slides .inner {
         transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
         width: {{slides|length*100}}%;
         line-height: 0;
         height: 400px; 
      }
      #slides .slide {
         width: {{100/slides|length}}%; 
         float:left;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         color: #fff;
      } 
      {% for slide in slides %} 
      #slide{{loop.index}}:checked ~ #slides .inner {
         margin-left: -{{(loop.index-1)*100}}%;
      }
      #slides .slide_{{loop.index}} {
         background-color: rgb(0,{{(255 - 255/loop.index)|int}},{{(255 - 255/loop.index)|int}});
      }
      {% endfor %}     
      
      {% for slide in slides %}#slide{{loop.index}}:checked ~ #controls label:nth-child({{loop.index % loop.length + 1}}){%- if not loop.last -%},{% endif %}
      {% endfor %} { 
         background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
         float:right;
         margin-right: -50px;
         display: block;
      }  
      
      {% for slide in slides %}#slide{{loop.index}}:checked ~ #controls label:nth-last-child({{(loop.length+1-loop.index) % loop.length + 1}}){%- if not loop.last -%},{% endif %}
      {% endfor %} {
         background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
         float:left;
         margin-left: -50px; 
         display: block;
      }
      {% for slide in slides %}#slide{{loop.index}}:checked ~ #bullets label:nth-child({{loop.index}}){%- if not loop.last -%},{% endif %}
      {% endfor %} {
         background: #444;
      }
      @media screen and (max-width: 900px) {
         {% for slide in slides %}#slide{{loop.index}}:checked ~ #controls label:nth-child({{loop.index % loop.length + 1}}),
         #slide{{loop.index}}:checked ~ #controls label:nth-last-child({{(loop.length+1-loop.index) % loop.length + 1}}){%- if not loop.last -%},{% endif %} 
         {% endfor %} {
            margin: 0; 
         }
         #slides { 
            max-width: calc(100% - 140px); 
            margin: 0 auto; 
         }
      }
  
      </style>

      <a name="home"></a>
      <div class="wrapper">
            <section class="top">
                  <h1>Top section</h1>
                  <div id="slider">
                     {% for slide in slides %}
                       {% if loop.first %}
                         <input type="radio" name="slider" id="slide{{loop.index}}" checked>
                       {% else %}
                         <input type="radio" name="slider" id="slide{{loop.index}}">
                       {% endif %}
                     {% endfor %}
                     <div id="slides">
                        <div id="overflow"> 
                           <div class="inner">
                              {% for slide in slides %}
                              <div class="slide slide_{{loop.index}}">
                                 <div class="slide-content">
                                    <h2>{{slide.desc}}</h2> 
                                    <p>Content for Slide {{loop.index}}</p>
                                 </div>  
                              </div>
                              {% endfor %}
                           </div> 
                        </div>
                     </div>
                     <div id="controls">
                        {% for slide in slides %}
                        <label for="slide{{loop.index}}"></label>
                        {% endfor %}
                     </div>
                     <div id="bullets">
                        {% for slide in slides %}
                        <label for="slide{{loop.index}}"></label>
                        {% endfor %} 
                     </div>
                  </div>
            </section>

            <section class="research">
                  <h1>Research Highlights</h1> 
                  <div class="flex-container">
                        {% for blog in blogs %}
                          <div class="i"> 
                                <div class="ph"> 
                                  {% if blog.imgs[0] %}
                                  <a href='blogs?id={{blog.id}}'> <img src = {{blog.imgs[0]}} width=200 height=200> </img> </a>
                                  {% else %}
                                  <a href='blogs?id={{blog.id}}'> {{blog.title}} </a>
                                  {% endif %}
                                </div> 
                                <p> 
                                  <span> {{blog.title}}</span>
                                  <span style="float:right;">Author: {{blog.author}}</span> 
                                </p>                        
                          </div>  
                        {% endfor %}
                  </div>
            </section>

            <section class="research" style='background-color: rgba(235,235,165)'>
                  <h1>Research and Teaching Themes</h1>
            </section>

            <section class="partner" style='background-color: rgba(215,215,145)'>
                  <h1>Collaboration and Partners</h1> 
            </section> 
            
      </div>
</body>
{% endblock content %}