{% extends "_main.html" %}
{% block content %}
<body>

      <a name="home"></a>
      <div class="wrapper">
            <section class="team">
                  <h1>Team Members</h1>
                  {% for member in members %}
                  <div class="column">
                        <div class="card">
                              {% if member.selfie %}
                                <img src = {{member.selfie}} width=200 height=200>
                              {% else %}
                                <span> (Photo to be uploaded) </span>
                              {% endif %} 
                              <div class="container">
                                <h2> {{member.name}} </h2>
                                <p class="title">  {{member.title}} </p>
                                <p>  {{member.desc}} </p>
                                <p> Email:  {{member.email}} </p>
                                <p> Tel no.:  {{member.telno}} </p>
                              </div>
                        </div>
                  </div>
                  {% endfor %} 
            </section>
      </div>
</body>
{% endblock content %}