{% extends "_main.html" %}
{% block content %}
<body>

      <a name="home"></a>
      <div class="wrapper">
            <section class="top">
                  <h1>Vision and Mission</h1>
                  <div class="about">
                        <h2>{{vision.type}}</h2>
                        <p>{{vision.content | safe}}</p>
                  </div>
                  <div class="about">
                        <h2>{{mission.type}}</h2>
                        <p>{{mission.content | safe}}</p> 
                  </div>  
            </section>
      </div>
</body>
{% endblock content %} 