
html, body {
      height: 100%;
}

* {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
      font-family: "Calibri Light" !important;
}

/* =====================================================================================================================
    Header
===================================================================================================================== */

.header {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
}

.header h1 {
      color: #d3ae87;
      font-size: 80px !important;
}

/* =====================================================================================================================
    Navigation bar
===================================================================================================================== */

#nav {
      width: 100%;
      height: 80px;
      position: fixed;
      transition: 0.4s;
      z-index: 2;
      background-image: linear-gradient(rgba(194,238,194,255), rgba(144,238,144,0))
}

#nav:hover {
      background-image: linear-gradient(rgba(194,238,194,255), rgba(144,238,144,255)) !important;
      transition: background-image 500ms ease-out !important;
}

#nav #wname {
      padding-left:40px;
      display: inline-block;
      font-weight: strong !important;
      font-size: 20px;
      line-height: 80px;
      position: relative;
      transition: all 500ms ease-out;
}

#nav #menu {
      float: left;
      right: 40px;
      position: fixed;
}

#nav #menu li {
      padding-left: 40px;
      display: inline-block;
      font-weight: lighter !important;
      font-size: 20px;
      line-height: 80px;
      position: relative;
      transition: all 500ms ease-out !important;
}

#nav #menu li a {
      font-family: "Calibri" !important;
      color: rgb(6, 56, 6);
      transition: all 500ms ease-out !important;
}

#nav #menu li a:hover {
      text-decoration: none;
      color: rgb(56, 156, 56);
      transition: all 500ms ease-out !important;
}

/* =====================================================================================================================
    Sections
===================================================================================================================== */

section {
      padding: 140px 0;
      text-align: center;
}

.top {
      background-color: rgb(245,245,245);
}

.about {
}

.about .info {
      float: left;
      width: 33.3% !important;
      margin-bottom: 80px;
      padding: 0 8px;
}

.news {
      background-color: rgb(245,240,235);
}

.cowin {
      background-color: rgb(245,235,225);
}

.team img {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team .column {
      float: left;
      width: 33.3% !important;
      margin-bottom: 80px;
      padding: 0 8px;
}

.team .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team .card p {
      text-align: left;
      font-family: "Nirmala UI" !important;
}

section h1 {
      color: rgb(100,67,33);
      font-weight: bolder;
      font-size: 28px;
      font-family: "Nirmala UI" !important;
}

.pub {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
}

.pub > div > h2{
      display: inline-block;
      text-align: left !important;
      background-color: rgb(245,255,245);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pub > div > ul{
      text-align: left !important;
}


.pub > div > ul > li::before{
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.9em;
      position: relative;
}

/* =====================================================================================================================
    Footer
===================================================================================================================== */
.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(194,238,194);
      color: rgb(16,0,16);
      text-align: left;
}
