
html, body {
      height: 100%;
}

* {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
      font-family: "Calibri Light" !important;
}

.header, .footer {
      background-color: rgba(0,0,0,0.8);
      color: rgba(255, 255, 255);
}
/* =====================================================================================================================
    Navigation bar
===================================================================================================================== */

.nav {
      height: 80px;
      position: relative;
      transition: 0.4s;
      z-index: 2;
}

.nav #menu {
      background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
      width: 100%;
      display: flex;
      float: left;
}

.nav #menu > li {
      display: inline-block;
}

.nav #menu > li > a {
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      line-height: 80px;
      float: left;
      text-align: center;
      font-size: 18px;
      font-family: "Calibri" !important;
      color: rgb(255, 255, 255) !important;
      transition: all 500ms ease-out !important;
}

.nav #menu > li > a:hover {
      background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
      color: rgb(255, 255, 255) !important;
}

.nav #menu > li > a.active {
      background-image: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0.5));
}

.dropdown-content {
      top: 80px;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}

.dropdown-content ul {
      display: inline-block;
}

.dropdown-content ul li {
      margin-left: 20px;
      font-weight: lighter !important;
      font-size: 16px;
      line-height: 30px;
      position: relative;
      transition: all 500ms ease-out !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
      display: block;
}

@media screen and (max-width: 1000px) {
      .nav {
            height: 480px !important;
            position: relative !important;
      }

      .nav #menu {
            width: 100% !important;
            flex-direction: column;
      }

      .nav #menu a {
            width: 100% !important;
            flex-direction: column;
      }
}
/* =====================================================================================================================
    Sections
===================================================================================================================== */

.wrapper {
      width: 100% !important;
      position: relative !important;
      display: inline-block !important;
}

section {
      padding: 20px 0;
      text-align: left;
}

section h1 {
      padding-left: 10%;
      color: rgb(100,67,33);
      font-weight: bolder;
      font-size: 28px;
      font-family: "Nirmala UI" !important;
}

.top {
      padding: 100px 0;
      background-color: rgb(245,245,245);
}

.top .about {
      width: 80%;
      margin: auto;
}

.top .about > p {
      font-size: 20px;
      text-align: left;
}

.join {
      padding: 100px 0;
      padding-bottom: 250px;
      background-color: rgb(235,245,245);
}

.join .desc {
      width: 80%;
      margin: auto;
}

.join .desc > p {
      font-size: 20px;
      text-align: left;
}

.contact {
      padding: 100px 0;
      background-color: rgb(248,248,240);
}

.contact .info {
      margin-bottom: 80px;
      padding: 0 8px;
}

.contact .info table {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border-spacing: 10px;
      border-collapse: separate;
}

.contact .info table tr th {
      text-align: left;
      font-weight: strong;
      background-color: rgb(215,215,165) !important;
      padding: 10px;
}

.contact .info table tr td {
      text-align: left;
      background-color: rgb(235,235,185) !important;
      padding: 10px;
}

.research {
      background-color: rgb(245,240,235);
      overflow-x: auto;
}

.research .flex-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(205,205,185) !important;
}

.research .flex-container > div {
      width: 420px;
      height: 280px;
      margin: auto;
      padding: 20px 20px;
}

.research .flex-container > div > p {
      background-color: rgb(225,225,225);
}

.research .flex-container > div > div {
      width: 100%;
      height: 90%;
      margin: auto;
      background-color: rgb(245,245,225) ;

}

.research .flex-container > div > p:hover {
      background-color: rgb(245,245,185) !important;
}

.cowin {
      height: 500px;
      overflow-x: auto;
      padding-bottom: 100px;
      background-color: rgb(245,235,225);
}

.cowin .embed{
      margin: auto;
      background-color: rgb(255,255,255);
}

.team {
      padding: 100px 0;
      padding-bottom: 500px;
      background-color: rgb(235,245,255);
}

.team img {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team .column {
      float: left;
      width: 33.3% !important;
      margin-bottom: 80px;
      padding: 0 8px;
}

.team .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team .card p {
      text-align: left;
      font-family: "Nirmala UI" !important;
}

.pub {
      padding: 100px 0;
      background-color: rgb(235,245,235);
}

.pub > div {
      padding-left: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      background-color: rgb(217,235,217);
      border-style: solid;
      border-width: 5px;
      border-color: rgb(205,217,205);
      margin-bottom: 30px;
}

.pub > div:hover {
      background-color: rgb(217,235,235);
}

.pub > div > h2{
      display: inline-block;
      text-align: left !important;
      font-weight: bolder;
      background-color: rgb(235,248,238);
      padding: 5px 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pub > div > ul{
      text-align: left !important;
}


.pub > div > ul > li::before{
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.9em;
      position: relative;
}

/* =====================================================================================================================
    Footer
===================================================================================================================== */
.footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: left;
}
