{% extends "_main.html" %}
{% block content %}
<body>

      <a name="home"></a>
      <div class="wrapper">
            <section class="top">
                  <h1>About Us</h1>
                  <div class="about">
                        <p> Welcome to the Dr. Lam's Research Group at the Department of Geography.</p>
                        <p> Our research aims to.</p>
                        <p> Led by Dr. Nicky Lam, our group takes an innovative approach in finding practical solutions
                              to complex problems related to meteorology.</p>
                  </div>
            </section>
      </div>
</body>
{% endblock content %}