{% extends "_main.html" %}
{% block content %}
<body>

      <a name="home"></a>
      <div class="wrapper">
            <section class="contact">
                  <h1>Contact</h1>
                  <div class = "info">
                        <table>
                              <tr>
                                    <th>Office:</th>
                                    <td>
                                          <p>Room 1030, 10th Floor,</p>
                                          <p>The Jockey Club Tower, Centennial Campus,</p>
                                          <p>The University of Hong Kong,</p>
                                          <p>Pokfulam Road, Hong Kong Island, Hong Kong</p>
                                    </td>
                              </tr>
                              <tr>
                                    <th>Office Email:</th>
                                    <td>
                                          <p>yunlam@hku.hk</p>
                                    </td>
                              </tr>
                              <tr>
                                    <th>Office Phone:</th>
                                    <td>
                                          <p>391 77102</p>
                                    </td>
                              </tr>
                        </table>
                  </div>
            </section>
      </div>
</body>
{% endblock content %}