{% extends "_main.html" %}
{% block content %}
<body>
      
      <a name="home"></a>
      <div class="wrapper">
            <section class="top">
                  <h1>About Us</h1>
                  <div class="about">
                        <p> Welcome to the Dr. Lam's Research Group at the Department of Geography.</p>
                        <p> Our research aims to.</p>
                        <p> Led by Dr. Nicky Lam, our group takes an innovative approach in finding practical solutions
                              to complex problems related to meteorology.</p>
                  </div>
            </section>

            <section class="research">
                  <h1>Research Highlights ...</h1>
                  <table>
                        <tr>
                              <td>
                                    <div class="i"></div>
                                    <p>Research 1</p>
                              </td>
                              <td>
                                    <div class="i"></div>
                                    <p>Research 2</p>
                              </td>
                              <td>
                                    <div class="i"></div>
                                    <p>Research 3</p>
                              </td>
                        </tr>
                        <tr>
                              <td>
                                    <div class="i"></div>
                                    <p>Research 4</p>
                              </td>
                              <td>
                                    <div class="i"></div>
                                    <p>Research 5</p>
                              </td>
                              <td>
                                    <div class="i"></div>
                                    <p>Research 6</p>
                              </td>
                        </tr>
                  </table>
            </section>

            <section class="cowin">
                  <h1>CoWIN ...</h1>
                  <p>CoWIN ...</p>
            </section>
      </div>
</body>
{% endblock content %}