{% extends "_main.html" %}
{% block content %}
<body>
      
      <a name="home"></a>
      <div class="wrapper">
            <section class="top">
                  <h1>Department of Geography</h1>
                  <p>Welcome to the Dr. Lam's Research Group. Our research aims to...</p>
            </section>

            <section class="news">
                  <h1>News and Updates ...</h1>
                  <ul>
                        <li>blah</li>
                        <li>blah</li>
                        <li>blah</li>
                  </ul>
            </section>

            <section class="cowin">
                  <h1>CoWIN ...</h1>
                  <p>CoWIN ...</p>
            </section>
      </div>
</body>
{% endblock content %}