{% extends "_main.html" %}
{% block content %}
<body>
      
      <a name="home"></a>
      <div class="wrapper">
            <section class="about">
                  <h1>Department of Geography</h1>
                  <p>Welcome to the Dr. Lam's Research Group. Our research aims to...</p>
            </section>

            <section class="news">
                  <h1>News and Updates ...</h1>
                  <ul>
                        <li>blah</li>
                        <li>blah</li>
                        <li>blah</li>
                  </ul>
            </section>

            <section class="cowin">
                  <h1>CoWIN ...</h1>
                  <p>CoWIN ...</p>
            </section>

            <section class="team">
                  <h1>Team Members ...</h1>
                  <p>Team ...</p>
                  <div class="column">
                        <img src="../img/dr_lam_yun_fat.jpg">
                        <div class="card">
                              <div class="container">
                                <h2>Dr. Lam Yun Fat</h2>
                                <p class="title">Associate Professor</p>
                                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                                <p>example@example.com</p>
                                <p><button class="button">Contact</button></p>
                              </div>
                        </div>
                  </div>

            </section>
      </div>
</body>
{% endblock content %}