{% extends "_main.html" %}
{% block content %}
<body>

      <a name="home"></a>
      <div class="wrapper">
            <section class="join">
                  <h1>Join Us</h1>
                  <div class = "desc">
                      <strong>PhD study</strong>
                      <p>Qualified candidates who are interested in pursuing PhD study in the field of climate change and air quality are welcome to join us.
                          Please submit your application through XXX.</p>

                      <strong>Research Positions</strong>
                      <p>Research Assistant/Postdoctoral Researcher in the field of climate change and air quality</p>
                  </div>
            </section>
      </div>
</body>
{% endblock content %}